version: "3.8"

networks:
  waf-network:
    driver: bridge

services:
  dvwa:
    image: vulnerables/web-dvwa
    container_name: dvwa
    expose: ["80"]
    networks:
      - waf-network

  waf:
    image: owasp/modsecurity-crs:nginx
    container_name: waf
    depends_on:
      - dvwa
    environment:
      BACKEND: http://dvwa:80
      PORT: "8080"
      PARANOIA: "1"
      PROXY: "1"
      EXECUTING_PARANOIA: "1"
      ENFORCE_BODYPROC_URLENCODED: "1"
    ports:
      - target: 8080
        published: 8080
        protocol: tcp
    networks:
      - waf-network
