version: '3.8'

services:
  dvwa:
    image: vulnerables/web-dvwa
    container_name: dvwa_backend
    networks:
      - waf_network

  waf:
    image: owasp/modsecurity-crs:nginx-alpine
    container_name: waf_proxy
    ports:
      - "9090:8080"
    depends_on:
      - dvwa
    networks:
      - waf_network
    environment:
      - BACKEND=http://dvwa:80
      - PROXY=1
      - MODSEC_RULE_ENGINE=On
      - PARANOIA=1
      - ANOMALY_INBOUND=5
      - ANOMALY_OUTBOUND=4
      - PORT=8080
      - SSL_PORT=8443

networks:
  waf_network:
    driver: bridge
